In [1]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [2]:
# import yelpAPI
from yelpapi import YelpAPI
import argparse
from pprint import pprint

In [3]:
# Import top 200 cities in the US csv file
cities = pd.read_csv("Resources/us-cities-top-1k.csv")
cities.head()

         City           State  Population        lat         lon
0  Marysville      Washington       63269  48.051764 -122.177082
1      Perris      California       72326  33.782519 -117.228648
2   Cleveland            Ohio      390113  41.499320  -81.694361
3   Worcester   Massachusetts      182544  42.262593  -71.802293
4    Columbia  South Carolina      133358  34.000710  -81.034814

In [4]:
# Create list of top 200 cities
cities_list = cities["City"]
cities_list

0         Marysville
1             Perris
2          Cleveland
3          Worcester
4           Columbia
           ...
995    West New York
996          Everett
997           Linden
998        Asheville
999          Compton
Name: City, Length: 1000, dtype: object

In [10]:
# Create empty List ot hold all breweries
brewery_results = []

In [12]:
# Function to pull breweries for each location):
def get_breweries(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Breweries', location = location)
        # For each brewery in the search, return business name, coordinates, city, and buisness type
        for i in range(len(city_data['businesses'])):
            name = city_data['businesses'][i]['name']
            lat = city_data['businesses'][i]['coordinates']['latitude']
            long = city_data['businesses'][i]['coordinates']['longitude']
            city = city_data['businesses'][i]['location']['city']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            is_closed = city_data['businesses'][i]['is_closed']
            rating = city_data['businesses'][i]['rating']
            zip_code = city_data['businesses'][i]['location']['zip_code']
            state = city_data['businesses'][i]['location']['state']
            brewery_results.append({"Name":name, "Lat":lat, "Lng": long, "City":city, "Business Type":business_type, "Is Closed":is_closed, "Rating":rating, "Zip Code":zip_code, "State":state})

In [13]:
# Apply get_breweries function to each location in cities_list
for city in cities_list:
    try:
        get_breweries(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Lima
An exception occurred for Odessa

In [14]:
breweries_df = pd.DataFrame(brewery_results)
breweries_df.head()

,Name,Lat,Lng,City,Business Type,Is Closed,Rating,Zip Code,State
0,5 Rights Brewing Company,48.051043,-122.176124,Marysville,breweries,False,4.5,98270,WA
1,Whitewall Brewing Company,48.128250,-122.184200,Marysville,breweries,False,4.5,98271,WA
2,The Republic Bottleshop,48.081315,-122.174938,Marysville,beer_and_wine,False,5.0,98270,WA
3,Home Plate Pub,48.080788,-122.173687,Marysville,gastropubs,False,4.0,98270,WA
4,Swinnerton Brewery,48.055649,-122.170753,Marysville,breweries,False,5.0,98270,WA

In [15]:
# Length of breweries_df
len(breweries_df)

17186

In [16]:
# Create empty List ot hold all Outdoor Gear Stores
outdoor_gear_results = []

In [17]:
# Function to pull stores from yelp with location as the variable
def get_outdoor_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Outdoor Gear', location = location)
        # For each brewery in the search, return business name, coordinates, city, and buisness type
        for i in range(len(city_data['businesses'])):
            name = city_data['businesses'][i]['name']
            lat = city_data['businesses'][i]['coordinates']['latitude']
            long = city_data['businesses'][i]['coordinates']['longitude']
            city = city_data['businesses'][i]['location']['city']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            is_closed = city_data['businesses'][i]['is_closed']
            rating = city_data['businesses'][i]['rating']
            zip_code = city_data['businesses'][i]['location']['zip_code']
            state = city_data['businesses'][i]['location']['state']
            outdoor_gear_results.append({"Name":name, "Lat":lat, "Lng": long, "City":city, "Business Type":business_type, "Is Closed":is_closed, "Rating":rating, "Zip Code":zip_code, "State":state})

In [18]:
# Apply get_outdoor_stores function to each location in the cities_list
for city in cities_list:
    try:
        get_outdoor_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Lima
An exception occurred for Stamford
An exception occurred for Norwalk
An exception occurred for Gulfport
An exception occurred for Odessa
An exception occurred for Topeka
An exception occurred for Norwalk
An exception occurred for Redmond
An exception occurred for Biloxi

In [19]:
# Convert to pandas DataFrame
outdoor_df = pd.DataFrame(outdoor_gear_results)
outdoor_df.head()

,Name,Lat,Lng,City,Business Type,Is Closed,Rating,Zip Code,State
0,Cabela's,48.084695,-122.187122,Tulalip,outdoorgear,False,2.5,98271,WA
1,DICK'S Sporting Goods,48.154200,-122.195000,Marysville,sportswear,False,2.0,98271,WA
2,Columbia Factory Store,48.094629,-122.187234,Tulalip,sportswear,False,4.0,98271,WA
3,The North Face Seattle Premium Outlets,48.091680,-122.185630,Tulalip,sportswear,False,3.0,98271,WA
4,Action Sports,48.195910,-122.126800,Arlington,outdoorgear,False,4.5,98223,WA

In [20]:
# Length of outdoor_df
len(outdoor_df)

14229