In [1]:
import pandas as pd

from database_connection import ENGINE

In [2]:
file = 'https://www.irs.gov/pub/irs-soi/19zpallagi.csv'
df = pd.read_csv(file)

In [3]:
# Keep only desired columns
df_soi = df.copy()[['STATE', 'zipcode', 'A02650']]

df_soi = df_soi.loc[
    (df_soi['zipcode'] != 0) 
    & 
    (df_soi['zipcode'] != 99999)
    &
    df_soi['A02650'] != 0
]

In [4]:
df_soi.head()

   STATE  zipcode    A02650
6     AL    35004   18384.0
7     AL    35004   51708.0
8     AL    35004   59818.0
9     AL    35004   57089.0
10    AL    35004  105207.0

In [5]:
# perform some light cleanup

In [6]:
df_soi.rename(
    {'STATE': 'state', 'zipcode': 'zip_code', 'A02650': 'total_income'}, 
    axis=1, 
    inplace=True
)

In [7]:
df_soi.count()

state           152424
zip_code        152424
total_income    152424
dtype: int64

In [8]:
df_soi.dtypes

state            object
zip_code          int64
total_income    float64
dtype: object

In [9]:
# change income to int
df_soi['total_income'] = df_soi['total_income'].astype('int')

In [10]:
df_soi.dtypes

state           object
zip_code         int64
total_income     int64
dtype: object

In [11]:
# keep a csv for reference
df_soi.to_csv('../Resources/income_data_cleaned.csv', index=False)

In [12]:
# fill the corresponding postgres table
df_soi.to_sql(
    'income_data',
    con=ENGINE,
    if_exists='replace',
    index=False
)