In [1]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [5]:
# import yelpAPI
from yelpapi import YelpAPI
import argparse
from pprint import pprint

In [3]:
# Import top 200 cities in the US csv file
cities = pd.read_csv("Resources/top_200_cities.csv")
cities.head()

   rank           name usps  pop2022  pop2010  growth  density  aland_sqmi
0     1  New York City   NY  8930002  8175133  0.0923    29729     300.381
1     2    Los Angeles   CA  3919973  3792621  0.0336     8359     468.956
2     3        Chicago   IL  2756546  2695598  0.0226    12124     227.369
3     4        Houston   TX  2345606  2099451  0.1172     3664     640.194
4     5        Phoenix   AZ  1640641  1445632  0.1349     3169     517.673

In [4]:
# Create list of top 200 cities
cities_list = cities["name"]
cities_list

0      New York City
1        Los Angeles
2            Chicago
3            Houston
4            Phoenix
           ...
195             Kent
196        Fullerton
197           Denton
198          Visalia
199          McAllen
Name: name, Length: 200, dtype: object

In [23]:
# Create empty List ot hold all breweries
brewery_results = []

In [24]:
# Function to pull breweries for each location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Breweries', location = location)
        # For each brewery in the search, return business name, coordinates, city, and buisness type
        for i in range(len(city_data['businesses'])):
            name = city_data['businesses'][i]['name']
            lat = city_data['businesses'][i]['coordinates']['latitude']
            long = city_data['businesses'][i]['coordinates']['longitude']
            city = city_data['businesses'][i]['location']['city']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            brewery_results.append({"Name":name, "Lat":lat, "Lng": long, "City":city, "Business Type":business_type})

In [25]:
# Apply get_breweries function to each location in cities_list
for city in cities_list:
    try:
        get_breweries(city)
    except:
        print(f"An exception occurred for {city}")

In [26]:
breweries_df = pd.DataFrame(brewery_results)
breweries_df.head()

,Name,Lat,Lng,City,Business Type
0,Evil Twin Brewing - Dumbo Taproom,40.702834,-73.990503,Brooklyn,breweries
1,Other Half Brewing - Domino Park,40.715957,-73.966897,Brooklyn,breweries
2,Evil Twin Brewing,40.696213,-73.904159,Ridgewood,breweries
3,Grimm Artisanal Ales,40.714256,-73.936579,Brooklyn,breweries
4,Transmitter Brewing,40.698559,-73.971204,Brooklyn,breweries

In [27]:
# Length of breweries_df
len(breweries_df)

3746

In [28]:
# Create empty List ot hold all Outdoor Gear Stores
outdoor_gear_results = []

In [29]:
# Function to pull stores from yelp with location as the variable
def get_outdoor_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Outdoor Gear', location = location)
        # For each brewery in the search, return business name, coordinates, city, and buisness type
        for i in range(len(city_data['businesses'])):
            name = city_data['businesses'][i]['name']
            lat = city_data['businesses'][i]['coordinates']['latitude']
            long = city_data['businesses'][i]['coordinates']['longitude']
            city = city_data['businesses'][i]['location']['city']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            outdoor_gear_results.append({"Name":name, "Lat":lat, "Lng": long, "City":city, "Business Type":business_type})

In [30]:
# Apply get_outdoor_stores function to each location in the cities_list
for city in cities_list:
    try:
        get_outdoor_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Arlington

In [31]:
# Convert to pandas DataFrame
outdoor_df = pd.DataFrame(outdoor_gear_results)
outdoor_df.head()

                        Name        Lat        Lng      City Business Type
0             Paragon Sports  40.737760 -73.990331  New York   outdoorgear
1                        REI  40.724814 -73.995205  New York   outdoorgear
2  Hatchet Outdoor Supply Co  40.691300 -73.997590  Brooklyn   outdoorgear
3        Fjällräven Epic NYC  40.721711 -74.002062  New York   outdoorgear
4  Patagonia Upper West Side  40.783070 -73.975118  New York    sportswear

In [32]:
# Length of outdoor_df
len(outdoor_df)

3341