In [1]:
import pandas as pd

In [2]:
file = 'Resources/19zpallagi.csv'
df = pd.read_csv(file)

Keep only desired columns

In [11]:
df_soi = df.copy()[['STATE', 'zipcode', 'agi_stub']]
df_soi.head()

  STATE  zipcode  agi_stub
0    AL        0         1
1    AL        0         2
2    AL        0         3
3    AL        0         4
4    AL        0         5

Map agi_stub to income bins as described in the Documentation available for download here: 
https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2019-zip-code-data-soi

- 1 = $1  under  $25,000
- 2 = $25,000  under $50,000
- 3 = $50,000 under $75,000
- 4 = $75,000 under $100,000
- 5 = $100,000 under $200,000
- 6 = $200,000 or more

In [32]:
agi_map = {
    1: '<$25,000',
    2: '$25,000 to $49,999',
    3: '$50,000 to $74,999',
    4: '$75,000 to $99,999',
    5: '$100,000 to $199,999',
    6: '>$200000'
}
agi_bin = df_soi['agi_stub'].map(agi_map)
agi_bin.head()

0                <$25,000
1      $25,000 to $49,999
2      $50,000 to $74,999
3      $75,000 to $99,999
4    $100,000 to $199,999
Name: agi_stub, dtype: object

In [16]:
df_soi['agi_bin'] = agi_bin

In [30]:
df_soi['agi_bin'].value_counts()

<$25,000                27695
$25,000 to $49,999      27695
$50,000 to $74,999      27695
>$200000                27695
$100,000 to $199,999    27692
$75,000 to $99,999      27687
Name: agi_bin, dtype: int64