In [1]:
pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (2.5.0)
Requirement already satisfied: requests in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from yelpapi) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [3]:
# Read in breweries.csv
breweries_df = pd.read_csv("Resources/breweries.csv")
breweries_df.head()

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [4]:
# create list with all of the cities in the breweries_df
brewery_cities = breweries_df["city"].unique()
brewery_cities

array(['Minneapolis', 'Louisville', 'Framingham', 'San Diego',
       'San Francisco', 'Charleston', 'Denver', 'Bridgman', 'Holland',
       'Grand Rapids', 'Petoskey', 'Marquette', 'Comstock Park',
       'South Lyon', 'Indianapolis', 'Evansville', 'Plainfield',
       'Granger', 'Martinsville', 'Valparaiso', 'Michigan City',
       'Mishawaka', 'Columbus', 'Bargersville', 'Seven Points',
       'Chandler', 'Kansas City', 'Stevens Point', 'Torrance', 'Buellton',
       'Boulder', 'Dripping Springs', 'Kalamazoo', 'Murphysboro',
       'East Fairfield', 'Portland', 'Export', 'Chicago', 'Manhattan',
       'Brooklyn', 'Hooksett', 'Paso Robles', 'Atlanta', 'Troutville',
       'Roseville', 'Lombard', 'Lemont', 'Lyons', 'Bloomington',
       'St. Paul', 'Portage', 'Saint Louis', 'Brooklyn Center', 'Edwards',
       'San Antonio', 'St Petersburg', 'Mt. Airy', 'Boone', 'Charlotte',
       'Baltimore', 'Detroit', 'Madison', 'Warrenville', 'Duluth',
       'Austin', 'Sheridan', 'Fort Collins', 'Chico', 'Houghton',
       'Traverse City', 'Westerly', 'Kirkwood', 'East Windsor',
       'Wilkes-Barre', 'Cincinnati', 'Athens', 'Dayton', 'Morganton',
       'Hershey', 'Lexington', 'Newport', 'Anchorage', 'Lowell',
       'Lone Tree', 'Pineland', 'Eagle', 'Bloomfield', 'North Woodstock',
       'Vista', 'Temecula', 'Yardley', 'Laurel', 'Norfolk', 'Conroe',
       'Durango', 'Milwaukee', 'Cheboygan', 'Ashland', 'Ipswich',
       'Birmingham', 'Houston', 'Dallas', 'Blanco', "St Mary's",
       'Wolcott', 'Weston', 'Hattiesburg', 'Monroe', 'Dillon', 'Ada',
       'St Paul', 'Springdale', 'Tampa', 'Cold Spring', 'Providence',
       'Loveland', 'Nantucket', 'Hayward', 'Cleveland', 'Arvada',
       'Raleigh', 'Eugene', 'Latrobe', 'Baton Rouge', 'Sisters',
       'Corvallis', 'Lewisburg', 'Phoenix', 'Flagstaff', 'Salt Lake City',
       'Tempe', 'Fort Worth', 'Phoenixville', 'Lansdale', 'Aurora',
       'Longmont', 'West Chester', 'Windsor', 'Garden City',
       'White Salmon', 'Boonville', 'Shelburne', 'New Orleans', 'Gary',
       'Cambridge', 'Pittsboro', 'Waynesville', 'Nellysford',
       'Oklahoma City', 'Spring Lake', 'Paw Paw', 'Fredericksburg',
       'Springfield', 'Lincoln', 'Seattle', 'Jackson', 'Middleton',
       'Bend', 'Estacada', 'Hilo', 'Lafayette', 'Astoria', 'Kalona',
       'Evanston', 'Verona', 'Spearfish', 'Farmers Branch', 'Richmond',
       'Cherry Hill', 'Ponderay', 'Bozeman', 'Broomfield', 'Odessa',
       'Atlantic Highlands', 'Middleburg Heights', 'Chatham',
       'Washington', 'Lake Geneva', 'Rochester', 'Gloucester', 'Tucson',
       'Lake Havasu City', 'Henderson', 'Boston', 'Charlottesville',
       'Newburgh', 'Memphis', 'Los Angeles', 'College Station',
       'Plant City', 'Stillwater', 'Greenville', 'Stamford',
       'Southampton', 'Angola', 'Santa Cruz', 'Frankenmuth',
       'Somerset Center', 'South Austin', 'Rogers', 'Mount Pleasant',
       'Waterbury', 'Albuquerque', 'Hyannis', 'Bridgewater Corners',
       'Shreveport', 'Juneau', 'Middlebury', 'Montauk', 'South Deerfield',
       'Pawtucket', 'Mill Valley', 'Ridgefield Park', 'Kearney', 'Hays',
       'Port Clinton', 'Gadsden', 'Idaho Springs', 'Lewiston',
       'Northamtpon', 'Westminster', 'Pittsburgh', 'York', 'Utica',
       'Danville', 'South Burlington', 'Canton', 'Everett',
       'Virginia Beach', 'Boise', 'Woodinville', 'Nashville', 'Meridian',
       'Bucryus', 'Avon', 'Wilmington', 'Belfast', 'Williamsburg',
       'Centralia', 'Claremont', 'Lockland', 'Meadville',
       'Black Mountain', 'Croydon', 'Burlington', 'Bronx', 'Tulsa',
       'Diamond Springs', 'Fargo', 'Missoula', 'Papillion', "St. John's",
       'Worcester', 'Boynton Beach', 'Palisade', 'Abingdon', 'Erie',
       'Santee', 'Durham', 'South Bend', 'Green Bay', 'San Luis Obispo',
       'Westfield', 'Bellingham', 'Monument', 'Philadelphia',
       'Shelbyville', 'Fuquay-Varina', 'Lake Barrington', 'Pottstown',
       'Midvale', 'Davenport', 'Mustang', 'Kent', 'Buena Vista',
       'Carlsbad', 'Conestoga', 'Dunedin', 'Lahaina', 'Midwest City',
       'Menominee', 'Jacksonville', 'Manheim', 'Afton', 'Crozet',
       'Mt. Pleasant', 'Paonia', 'Brevard', 'Airway Heights', 'Santa Fe',
       'Miami', 'Hudsonville', 'Sacramento', 'Douglas', 'Moab', 'Macon',
       'Washougal', 'Ann Arbor', 'Eau Claire', 'Hamilton', 'Lakeside',
       'Woodbridge', 'Huntsville', 'Arrington', 'Savannah', 'Biglerville',
       'Denton', 'Roanoke', 'Ashburn', 'Slippery Rock', 'Asheville',
       'Stratford', 'Medford', 'Kona', 'Royal Oak', "O'Fallon",
       'Vadnais Heights', 'Lenoir', 'Leominster', 'Gainesville',
       'Half Moon Bay', 'Pacific', 'Talkeetna', 'Hardy', 'Menominie',
       'Soldotna', 'South San Francisco', 'Golden', 'Alpine',
       'Jacksonville Beach', 'Tampa Bay', 'Knoxville', 'Spirit Lake',
       'Tacoma', 'Minnetonka', 'Marietta', 'Redlands', 'Sheffield',
       'Halethorpe', 'Telluride', 'Gig Harbor', 'Des Moines', 'Yakima',
       'New York', 'Patchogue', 'Belmont', 'Silverton', 'Newburyport',
       'Glendale', 'Stevensville', 'Leavenworth', 'Mooresville', 'Krebs',
       'Fort Wayne', 'Cortland', 'Marlborough', 'Pawcatuck',
       'Colorado Springs', 'Greeley', 'Myrtle Beach', 'Chattanooga',
       'Frederick', 'Aspen', 'Reno', 'Dolores', 'Smithton',
       'Abita Springs', 'Mammoth Lakes', 'Belt', 'Williams', 'Helena',
       'Kinston', 'Battle Creek', 'Whitefish', 'Lancaster', 'Elmira',
       'North Conway', 'Prescott', 'Pinedale', 'Libertyville',
       'Covington', 'Wilson', 'Ukiah', 'Garrattsville'], dtype=object)

In [22]:
# import yelpAPI
from yelpapi import YelpAPI
import argparse
from pprint import pprint

In [6]:
# Create empty list to hold rei results of yelp api call
rei_results = []

In [7]:
# Function to pull stores from yelp with location as the variable
def get_rei_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='REI', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            rei_results.append({"Name":business_name, "Lat":business_lat, "Lng":business_long, "Business Type":business_type})

In [8]:
# Apply get_rei_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_rei_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Odessa
An exception occurred for Angola

In [9]:
# Convert to pandas DataFrame
rei_df = pd.DataFrame(rei_results)
rei_df.head()

                     Name        Lat        Lng Business Type
0                     REI  45.016018 -93.182877         bikes
1                     REI  44.860933 -93.291281   outdoorgear
2                     REI  45.091260 -93.427546    sportswear
3  Midwest Mountaineering  44.970720 -93.246890   outdoorgear
4              Hoigaard's  44.930329 -93.347251   outdoorgear

In [10]:
# length of rei_df
len(rei_df)

6514

In [11]:
# Create empty list to hold north face results of yelp api call
north_face_results = []

In [12]:
# Function to pull stores from yelp with location as the variable
def get_northface_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='North Face', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            north_face_results.append({"Name":business_name, "Lat":business_lat, "Lng": business_long, "Business Type":business_type})

In [13]:
# Apply get_northface_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_northface_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Martinsville
An exception occurred for Kalamazoo
An exception occurred for East Fairfield
An exception occurred for Export
An exception occurred for Bloomington
An exception occurred for Mt. Airy
An exception occurred for Baltimore
An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Morganton
An exception occurred for Pineland
An exception occurred for Springdale
An exception occurred for Cleveland
An exception occurred for Latrobe
An exception occurred for Corvallis
An exception occurred for Aurora
An exception occurred for Gary
An exception occurred for Oklahoma City
An exception occurred for Paw Paw
An exception occurred for Richmond
An exception occurred for Odessa
An exception occurred for Middleburg Heights
An exception occurred for Gloucester
An exception occurred for Greenville
An exception occurred for Angola
An exception occurred for Somerset Center
An exception occurred for Middlebury
An exception occurred for Montauk
An exception occurred for Hays
An exception occurred for Pittsburgh
An exception occurred for Canton
An exception occurred for Williamsburg
An exception occurred for Mustang
An exception occurred for Midwest City
An exception occurred for Airway Heights
An exception occurred for Hudsonville
An exception occurred for Slippery Rock
An exception occurred for Golden
An exception occurred for Tampa Bay
An exception occurred for Sheffield
An exception occurred for Halethorpe
An exception occurred for Cortland
An exception occurred for Battle Creek
An exception occurred for Elmira
An exception occurred for Wilson

In [14]:
# Convert to pandas DataFrame
northface_df = pd.DataFrame(north_face_results)
northface_df.head()

,Name,Lat,Lng,Business Type
0,The North Face Mall of America,44.853423,-93.241164,sportswear
1,The North Face Galleria Edina,44.877098,-93.326189,sportswear
2,The North Face Albertville Premium Outlets,45.244440,-93.663390,outdoorgear
3,Fjällräven Uptown Outlet,44.948820,-93.298670,sportswear
4,Midwest Mountaineering,44.970720,-93.246890,outdoorgear

In [15]:
# length of northface_df
len(northface_df)

4061

In [16]:
# Create empty list to hold columbia results of yelp api call
columbia_results = []

In [17]:
# Function to pull stores from yelp with location as the variable
def get_columbia_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Columbia', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            north_face_results.append({"Name":business_name, "Lat":business_lat, "Lng": business_long, "Business Type":business_type})

In [18]:
# Apply get_columbia_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_columbia_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Martinsville
An exception occurred for Mt. Airy
An exception occurred for Baltimore
An exception occurred for Detroit
An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Durango
An exception occurred for Ada
An exception occurred for Eugene
An exception occurred for Phoenixville
An exception occurred for Lansdale
An exception occurred for West Chester
An exception occurred for Nellysford
An exception occurred for Odessa
An exception occurred for Washington
An exception occurred for Angola
An exception occurred for South Deerfield
An exception occurred for Centralia
An exception occurred for St. John's
An exception occurred for Worcester
An exception occurred for Pottstown
An exception occurred for Crozet
An exception occurred for Arrington
An exception occurred for Royal Oak
An exception occurred for Leominster
An exception occurred for Tacoma
An exception occurred for Halethorpe
An exception occurred for Telluride
An exception occurred for New York
An exception occurred for Silverton
An exception occurred for Leavenworth
An exception occurred for Dolores
An exception occurred for Elmira

In [19]:
# Convert to pandas DataFrame
columbia_df = pd.DataFrame(north_face_results)
columbia_df.head()

,Name,Lat,Lng,Business Type
0,The North Face Mall of America,44.853423,-93.241164,sportswear
1,The North Face Galleria Edina,44.877098,-93.326189,sportswear
2,The North Face Albertville Premium Outlets,45.244440,-93.663390,outdoorgear
3,Fjällräven Uptown Outlet,44.948820,-93.298670,sportswear
4,Midwest Mountaineering,44.970720,-93.246890,outdoorgear

In [20]:
# length of columbia_df
len(columbia_df)

9405

In [27]:
# Create empty List ot hold all outdoor gear stores
outdoor_gear_results = []

In [30]:
# Function to pull stores from yelp with location as the variable
def get_outdoor_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='Outdoor Gear', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            business_type = city_data['businesses'][i]['categories'][0]['alias']
            outdoor_gear_results.append({"Name":business_name, "Lat":business_lat, "Lng": business_long, "Business Type":business_type})

In [31]:
# Apply get_outdoor_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_outdoor_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Traverse City
An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Odessa
An exception occurred for Stamford
An exception occurred for Angola

In [32]:
# Convert to pandas DataFrame
outdoor_df = pd.DataFrame(north_face_results)
columbia_df.head()

,Name,Lat,Lng,Business Type
0,The North Face Mall of America,44.853423,-93.241164,sportswear
1,The North Face Galleria Edina,44.877098,-93.326189,sportswear
2,The North Face Albertville Premium Outlets,45.244440,-93.663390,outdoorgear
3,Fjällräven Uptown Outlet,44.948820,-93.298670,sportswear
4,Midwest Mountaineering,44.970720,-93.246890,outdoorgear

In [33]:
# length of outdoor_df
len(outdoor_df)

14668