In [5]:
pip install yelpapi

Requirement already satisfied: yelpapi in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (2.5.0)
Requirement already satisfied: requests in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from yelpapi) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\brandon\anaconda3\envs\pythondata\lib\site-packages (from requests->yelpapi) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# Import dependencies
import pandas as pd
import requests
from config import api_key

In [23]:
# Read in breweries.csv
breweries_df = pd.read_csv("Resources/breweries.csv")
breweries_df.head()

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [26]:
# create list with all of the cities in the breweries_df
brewery_cities = breweries_df["city"].unique()
brewery_cities

array(['Minneapolis', 'Louisville', 'Framingham', 'San Diego',
       'San Francisco', 'Charleston', 'Denver', 'Bridgman', 'Holland',
       'Grand Rapids', 'Petoskey', 'Marquette', 'Comstock Park',
       'South Lyon', 'Indianapolis', 'Evansville', 'Plainfield',
       'Granger', 'Martinsville', 'Valparaiso', 'Michigan City',
       'Mishawaka', 'Columbus', 'Bargersville', 'Seven Points',
       'Chandler', 'Kansas City', 'Stevens Point', 'Torrance', 'Buellton',
       'Boulder', 'Dripping Springs', 'Kalamazoo', 'Murphysboro',
       'East Fairfield', 'Portland', 'Export', 'Chicago', 'Manhattan',
       'Brooklyn', 'Hooksett', 'Paso Robles', 'Atlanta', 'Troutville',
       'Roseville', 'Lombard', 'Lemont', 'Lyons', 'Bloomington',
       'St. Paul', 'Portage', 'Saint Louis', 'Brooklyn Center', 'Edwards',
       'San Antonio', 'St Petersburg', 'Mt. Airy', 'Boone', 'Charlotte',
       'Baltimore', 'Detroit', 'Madison', 'Warrenville', 'Duluth',
       'Austin', 'Sheridan', 'Fort Collins', 'Chico', 'Houghton',
       'Traverse City', 'Westerly', 'Kirkwood', 'East Windsor',
       'Wilkes-Barre', 'Cincinnati', 'Athens', 'Dayton', 'Morganton',
       'Hershey', 'Lexington', 'Newport', 'Anchorage', 'Lowell',
       'Lone Tree', 'Pineland', 'Eagle', 'Bloomfield', 'North Woodstock',
       'Vista', 'Temecula', 'Yardley', 'Laurel', 'Norfolk', 'Conroe',
       'Durango', 'Milwaukee', 'Cheboygan', 'Ashland', 'Ipswich',
       'Birmingham', 'Houston', 'Dallas', 'Blanco', "St Mary's",
       'Wolcott', 'Weston', 'Hattiesburg', 'Monroe', 'Dillon', 'Ada',
       'St Paul', 'Springdale', 'Tampa', 'Cold Spring', 'Providence',
       'Loveland', 'Nantucket', 'Hayward', 'Cleveland', 'Arvada',
       'Raleigh', 'Eugene', 'Latrobe', 'Baton Rouge', 'Sisters',
       'Corvallis', 'Lewisburg', 'Phoenix', 'Flagstaff', 'Salt Lake City',
       'Tempe', 'Fort Worth', 'Phoenixville', 'Lansdale', 'Aurora',
       'Longmont', 'West Chester', 'Windsor', 'Garden City',
       'White Salmon', 'Boonville', 'Shelburne', 'New Orleans', 'Gary',
       'Cambridge', 'Pittsboro', 'Waynesville', 'Nellysford',
       'Oklahoma City', 'Spring Lake', 'Paw Paw', 'Fredericksburg',
       'Springfield', 'Lincoln', 'Seattle', 'Jackson', 'Middleton',
       'Bend', 'Estacada', 'Hilo', 'Lafayette', 'Astoria', 'Kalona',
       'Evanston', 'Verona', 'Spearfish', 'Farmers Branch', 'Richmond',
       'Cherry Hill', 'Ponderay', 'Bozeman', 'Broomfield', 'Odessa',
       'Atlantic Highlands', 'Middleburg Heights', 'Chatham',
       'Washington', 'Lake Geneva', 'Rochester', 'Gloucester', 'Tucson',
       'Lake Havasu City', 'Henderson', 'Boston', 'Charlottesville',
       'Newburgh', 'Memphis', 'Los Angeles', 'College Station',
       'Plant City', 'Stillwater', 'Greenville', 'Stamford',
       'Southampton', 'Angola', 'Santa Cruz', 'Frankenmuth',
       'Somerset Center', 'South Austin', 'Rogers', 'Mount Pleasant',
       'Waterbury', 'Albuquerque', 'Hyannis', 'Bridgewater Corners',
       'Shreveport', 'Juneau', 'Middlebury', 'Montauk', 'South Deerfield',
       'Pawtucket', 'Mill Valley', 'Ridgefield Park', 'Kearney', 'Hays',
       'Port Clinton', 'Gadsden', 'Idaho Springs', 'Lewiston',
       'Northamtpon', 'Westminster', 'Pittsburgh', 'York', 'Utica',
       'Danville', 'South Burlington', 'Canton', 'Everett',
       'Virginia Beach', 'Boise', 'Woodinville', 'Nashville', 'Meridian',
       'Bucryus', 'Avon', 'Wilmington', 'Belfast', 'Williamsburg',
       'Centralia', 'Claremont', 'Lockland', 'Meadville',
       'Black Mountain', 'Croydon', 'Burlington', 'Bronx', 'Tulsa',
       'Diamond Springs', 'Fargo', 'Missoula', 'Papillion', "St. John's",
       'Worcester', 'Boynton Beach', 'Palisade', 'Abingdon', 'Erie',
       'Santee', 'Durham', 'South Bend', 'Green Bay', 'San Luis Obispo',
       'Westfield', 'Bellingham', 'Monument', 'Philadelphia',
       'Shelbyville', 'Fuquay-Varina', 'Lake Barrington', 'Pottstown',
       'Midvale', 'Davenport', 'Mustang', 'Kent', 'Buena Vista',
       'Carlsbad', 'Conestoga', 'Dunedin', 'Lahaina', 'Midwest City',
       'Menominee', 'Jacksonville', 'Manheim', 'Afton', 'Crozet',
       'Mt. Pleasant', 'Paonia', 'Brevard', 'Airway Heights', 'Santa Fe',
       'Miami', 'Hudsonville', 'Sacramento', 'Douglas', 'Moab', 'Macon',
       'Washougal', 'Ann Arbor', 'Eau Claire', 'Hamilton', 'Lakeside',
       'Woodbridge', 'Huntsville', 'Arrington', 'Savannah', 'Biglerville',
       'Denton', 'Roanoke', 'Ashburn', 'Slippery Rock', 'Asheville',
       'Stratford', 'Medford', 'Kona', 'Royal Oak', "O'Fallon",
       'Vadnais Heights', 'Lenoir', 'Leominster', 'Gainesville',
       'Half Moon Bay', 'Pacific', 'Talkeetna', 'Hardy', 'Menominie',
       'Soldotna', 'South San Francisco', 'Golden', 'Alpine',
       'Jacksonville Beach', 'Tampa Bay', 'Knoxville', 'Spirit Lake',
       'Tacoma', 'Minnetonka', 'Marietta', 'Redlands', 'Sheffield',
       'Halethorpe', 'Telluride', 'Gig Harbor', 'Des Moines', 'Yakima',
       'New York', 'Patchogue', 'Belmont', 'Silverton', 'Newburyport',
       'Glendale', 'Stevensville', 'Leavenworth', 'Mooresville', 'Krebs',
       'Fort Wayne', 'Cortland', 'Marlborough', 'Pawcatuck',
       'Colorado Springs', 'Greeley', 'Myrtle Beach', 'Chattanooga',
       'Frederick', 'Aspen', 'Reno', 'Dolores', 'Smithton',
       'Abita Springs', 'Mammoth Lakes', 'Belt', 'Williams', 'Helena',
       'Kinston', 'Battle Creek', 'Whitefish', 'Lancaster', 'Elmira',
       'North Conway', 'Prescott', 'Pinedale', 'Libertyville',
       'Covington', 'Wilson', 'Ukiah', 'Garrattsville'], dtype=object)

In [12]:
# import yelpAPI
from yelpapi import YelpAPI
import argparse
from pprint import pprint

In [52]:
# Create empty list to hold rei results of yelp api call
rei_results = []

In [53]:
# Function to pull stores from yelp with location as the variable
def get_rei_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='REI', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            rei_results.append({"Name":business_name, "Lat":business_lat, "Lng": business_long})

In [54]:
# Apply get_rei_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_rei_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Odessa
An exception occurred for Angola

In [64]:
# Convert to pandas DataFrame
rei_df = pd.DataFrame(rei_results)
rei_df.head()

NameError: name 'rei_results' is not defined

In [57]:
# length of rei_df
len(rei_df)

6402

In [58]:
# Create empty list to hold north face results of yelp api call
north_face_results = []

In [59]:
# Function to pull stores from yelp with location as the variable
def get_northface_stores(location):
    with YelpAPI(api_key) as yelp_api:
        # city_data is the json file with all businesses returned from search
        city_data = yelp_api.search_query(term='North Face', location = location)
        # For each business in the search, return business name and coordinates
        for i in range(len(city_data['businesses'])):
            business_name = city_data['businesses'][i]['name']
            business_lat = city_data['businesses'][i]['coordinates']['latitude']
            business_long = city_data['businesses'][i]['coordinates']['longitude']
            north_face_results.append({"Name":business_name, "Lat":business_lat, "Lng": business_long})

In [60]:
# Apply get_northface_stores function to each location in the brewery_cities list
for city in brewery_cities:
    try:
        get_northface_stores(city)
    except:
        print(f"An exception occurred for {city}")

An exception occurred for Kirkwood
An exception occurred for Athens
An exception occurred for Odessa
An exception occurred for Angola

In [63]:
# Convert to pandas DataFrame
northface_df = pd.DataFrame(north_face_results)
northface_df.head()

                                         Name        Lat        Lng
0              The North Face Mall of America  44.853423 -93.241164
1               The North Face Galleria Edina  44.877098 -93.326189
2  The North Face Albertville Premium Outlets  45.244440 -93.663390
3                    Fjällräven Uptown Outlet  44.948820 -93.298670
4                      Midwest Mountaineering  44.970720 -93.246890

In [65]:
# length of northface_df
len(northface_df)

4127