In [1]:
import pandas as pd

In [2]:
file = 'Resources/19zpallagi.csv'
df = pd.read_csv(file)

Keep only desired columns

In [45]:
df_soi = df.copy()[['STATE', 'zipcode', 'A00100', 'A00200', 'A02650', 'agi_stub', 'N03150']]
# SCHF: farm returns
# https://docs.google.com/document/d/1AoJyasTqZ5nRdsju_eYQE-gq8jwucO5FXnL83llOU9M/edit
# A00100: Adjust gross income (AGI) [8]
# N03150 Number of returns with Individual retirement arrangement payments
# A00200: Salaries and wages amount
# A02650: Total income amount

# https://gist.github.com/lsl/98eb26082f71ce5d4f39eb348401b28b

df_soi.loc[(df_soi['zipcode'] != 0) & (df_soi['zipcode'] != 99999)]

       STATE  zipcode    A00100   A00200       A02650  agi_stub  N03150
6         AL    35004   18091.0  13932.0   18384.0000         1     0.0
7         AL    35004   51278.0  43332.0   51708.0000         2    30.0
8         AL    35004   59398.0  49853.0   59818.0000         3     0.0
9         AL    35004   56706.0  48129.0   57089.0000         4    30.0
10        AL    35004  104262.0  87896.0  105207.0000         5     0.0
...      ...      ...       ...      ...          ...       ...     ...
166148    WY    83414    1451.0   1018.0    1539.0000         2     0.0
166149    WY    83414    1289.0   2178.0    1289.0001         3     0.0
166150    WY    83414    2237.0      0.0    2325.0000         4     0.0
166151    WY    83414    5415.0   2088.0    5415.0001         5     0.0
166152    WY    83414   75509.0  15852.0   75902.0000         6     0.0

[165547 rows x 7 columns]

Map agi_stub to income bins as described in the Documentation available for download here: 
https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2019-zip-code-data-soi

- 1 = $1  under  $25,000
- 2 = $25,000  under $50,000
- 3 = $50,000 under $75,000
- 4 = $75,000 under $100,000
- 5 = $100,000 under $200,000
- 6 = $200,000 or more

In [32]:
agi_map = {
    1: '<$25,000',
    2: '$25,000 to $49,999',
    3: '$50,000 to $74,999',
    4: '$75,000 to $99,999',
    5: '$100,000 to $199,999',
    6: '>$200000'
}
agi_bin = df_soi['agi_stub'].map(agi_map)
agi_bin.head()

0                <$25,000
1      $25,000 to $49,999
2      $50,000 to $74,999
3      $75,000 to $99,999
4    $100,000 to $199,999
Name: agi_stub, dtype: object

In [16]:
df_soi['agi_bin'] = agi_bin

In [30]:
df_soi['agi_bin'].value_counts()

<$25,000                27695
$25,000 to $49,999      27695
$50,000 to $74,999      27695
>$200000                27695
$100,000 to $199,999    27692
$75,000 to $99,999      27687
Name: agi_bin, dtype: int64

In [33]:
df_soi['STATE'].value_counts()

TX    9707
NY    9210
CA    8868
PA    8202
IL    7385
OH    5988
FL    5526
MI    5346
MO    5327
IA    4938
MN    4746
VA    4740
NC    4344
WI    4282
IN    4056
GA    4002
KY    3906
TN    3540
KS    3480
AL    3455
NJ    3282
OK    3270
WV    3054
WA    3000
AR    2916
MA    2892
NE    2862
LA    2694
MD    2436
CO    2376
SC    2243
MS    2220
ME    2220
OR    2124
AZ    1763
SD    1686
ND    1620
CT    1584
VT    1422
NH    1386
MT    1325
ID    1296
NM    1258
UT    1140
NV     780
WY     654
RI     426
HI     360
DE     342
AK     336
DC     144
Name: STATE, dtype: int64